# macOS
.DS_Store
**/.DS_Store

# Python
venv/
__pycache__/
*.pyc

# dbt artifacts
target/
logs/
state/
dbt_packages/

# Keys / secrets
*.p8
*.pem
*.key
*.pub

# Local dbt profiles (should never be in repo)
profiles.yml
